# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio - arquivos gerados
**/x64/
**/x86/
**/Debug/
**/Release/

# Compilação
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.recipe

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/

# Logs
*.log